@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin !important;
  scrollbar-color: #3b82f6 #dbeafe !important;
}

*::-webkit-scrollbar {
  width: 8px !important;
}

/* *::-webkit-scrollbar-track {
  background: #dbeafe !important;
  border-radius: 5px !important;
} */

*::-webkit-scrollbar-track {
  background: #669ce2 !important;
  border-radius: 5px !important;
} 

*::-webkit-scrollbar-thumb {
  background-color: #3b82f6 !important;
  border-radius: 14px !important;
  border: 3px solid #dbeafe !important;
}